@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}


header,
.content{
    margin: 0px 150px;
}

#menu-navegacao, 
#botao-cabecalho{
    display: none;
}

#menu-navegacao li a{
    text-decoration: none;
    color: #2E4F3D;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
#logo{
    width: 130px;
    height: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    background-color: white; 
    position: fixed;
    margin: 0px;
    padding: 0px 150px;
    width: 100dvw;
}



#intro-inga{
    width: 100%;
    height: 611px;
    background-image: url(images/background-intro.jpg);
}
.intro{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titulo-section-intro{
    width: 500px;
}
#descricao-intro{
    display: flex;
    flex-direction: row;
    width: 950px;
    margin: 20px 0px;
}


#linha-descricao-intro{
    width: 5px;
    height: 100%;
    margin: 0px 10px 0px 0px;
    background-color: #698167;
}
.intro div h1{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #2E4F3D;
}

.intro div p {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: 193.09%;
    color: #2E4F3D;
    margin: 0px;
}


#botoes-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 100px;
}

#botoes-intro button{
    font-size: 13px;
    width: 120px;
    height: 40px;
    background: none;
    border: 1px solid #2E4F3D;
    border-radius: 3px;
    padding: 0px;
}

#botoes-intro button:hover{
    background-color: #2E4F3D;
    color: white;
}


/*SEÇÃO - SOBRE*/

main{
    margin-top: 140px;
}

#sobre-inga{
    width: 100%;
    height: 868px;
    background-image: linear-gradient(to bottom, white 134px, #2E4F3D 134px);
}

#titulo-section-sobre{
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: "Nunito", sans-serif;
}

#titulo-section-sobre h1{
    font-weight: 300;
    font-size: 48px;
    margin: 0px 0px 24px 0px;
}

#descricao-sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 734px;
}

#descricao-um{
    display: flex;
    justify-content: end;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(46, 79, 61, 01)),url(/images/voluntarios-de-costas.png);
    color: white;
    width: 100%;
    height: 40%;
    background-size:cover;
    }

#descricao-um p{
    display: flex;
    align-self: center;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    line-height: 190.7%;
    width: 779px;
    text-align: justify;
    padding: 0px 11px;
    border-right: 11px solid #9BD396;
}

#descricao-dois{
    display: flex;
    justify-content: start;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(46, 79, 61, 01)),url(/images/full-shot-pessoas-trabalhando-juntas\ 1.png);
    color: white;
    width: 100%;
    height: 40%;
    background-size: cover;
    }

    #descricao-dois p{
    display: flex;
    align-self: center;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    line-height: 190.7%;
    width: 779px;
    text-align: justify;
    padding: 0px 11px;
    border-left: 11px solid #9BD396;
}


/*SEÇÃO - AÇÕES*/
#acoes-inga{
    width: 100%;
    height: auto;
}

#titulo-section-acoes{
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: "Nunito", sans-serif;
}

#titulo-section-acoes h1{
    font-weight: 300;
    font-size: 48px;
    margin: 0px 0px 24px 0px;
}

#cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.card-acao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 364px;
    height: 664px;
    margin-bottom: 50px;
}

.seca{
    background-image: url(/images/background-seca.png);
    background-size: cover;
}

.seca:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/background-seca.png);
}

.area{
    background-image: url(/images/background-area.png);
    background-size: cover;
}

.area:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/background-area.png);
}

.dialogo{
    background-image: url(/images/background-dialogo-comunidade.png);
    background-size: cover;
}

.dialogo:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/background-dialogo-comunidade.png);
}

.recuperacao{
    background-image: url(/images/background-recuperacao.png);
    background-size: cover;
}

.recuperacao:hover{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/background-recuperacao.png);
}

.titulo-card,
.descricao-card{
    padding: 0px 20px;
}

.titulo-card h3{
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    border-width: 10px;
    margin: 0px;
}

.descricao-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 278.28px;
}
.descricao-card p{
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    font-weight: 200;
    text-align: justify;
    line-height: 38px;
    color: white;
    word-spacing: -1px;
}
.titulo-card{
    display: flex;
    flex-direction: column;
}
.line{
    background-color: #8B6E4C;
    width: 31.38px;
    height: 11px;
}

/*SEÇÃO - APOIO*/
#apoio-inga{
    width: 100%;
    height: auto;
}

#titulo-section-apoio{
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: "Nunito", sans-serif;
}

#titulo-section-apoio h1{
    font-weight: 300;
    font-size: 48px;
    margin: 0px 0px 24px 0px;
}

#cards-apoio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.card-apoio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 699px;
    height: 247px;
    margin-bottom: 10px;
}

.doacao{
    background-image: url(/images/background-doacao.png);
    background-size: cover;
}

.voluntariado{
    background-image: url(/images/background-voluntariado.png);
    background-size: cover;
}

.campo-card-apoio{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    padding: 0px 24px;
}

.campo-card-apoio h1{
    margin: 0px;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: 200;
    padding: 0px 13px;
    color: white;
    border-left: 11px solid #698167;
}

.campo-card-apoio p{
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: white;
    padding: 0px 24px;
    margin-top: 20px;
}
.texto{
    height: auto;
    padding: 0px;
}


.links{
    margin-top: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.links-campo-card-apoio a{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

.links-campo-card-apoio button{
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    width: auto;
    height: 46px;
    background: none;
    border: 1px solid white;
    border-radius: 3px;
}

.links-campo-card-apoio button:hover{
    background-color: white;
    color: black;
}
.links-campo-card-apoio a:hover{
    text-decoration: underline;
}