@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

#secao-home{
    height: 55vh;
    background-image: url(/images/background-cachoeira.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conteudo-secao-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#secao-home h2{
    font-size: 64px;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 100;
    text-align: center;
}
.botoes{
    display: flex;
    justify-content: space-between;
    width: 413px;
}
.botao-home{
    width: 165px;
    height: 54px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    border-radius: 5px;
    background:none;
    color: white;
    border: 1px solid white;
    font-weight: 300;
}

.botao-home:hover{
    color: #2E4F3D;
    background-color: white;
}


/*SEÇÃO - DOAÇÕES*/
#descricao-doacoes{
    padding: 30px;
    gap: 30px 30px;
}
#descricao-doacoes .topico{
    width: 90%;
}

.doacoes,
.voluntario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 881px;
}
#secao-doacoes{
    width: 100%;
    height: 881px;
    background-color: #DAD7CD;
}

#titulo-section-doacoes h1,
#titulo-section-voluntario h1{
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 48px;
    border-left: 11px solid #2E4F3D;
    padding: 6px;
    height: 50px;
    display: flex;
    align-items: center;
}

#descricao-doacoes,
#descricao-voluntario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    background-image: url(/images/background-maos-com-coracao.png);
    background-size: cover;
}

.topico{
    display: flex;
    height: 190px;
    width: 45%;
}
.topico-um img{
    padding-top: 5px;
    width: 25px;
}
.descricao-topico{
    margin-left: 10px;
}
.descricao-topico h3{
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    font-weight: 200;
    color: white;
    margin: 0px;
}
.descricao-topico p{
    display: flex;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    color: white;
    text-align: justify;
    margin: 10px 0px 0px 0px;
    
}

/*SEÇÃO - VOLUNTÁRIO*/
#secao-voluntario{
    width: 100%;
    height: 881px;
}

#descricao-voluntario{
    padding: 30px;
    gap: 30px 30px;
}
