footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: #2E4F3D;
}

.um, .dois,.tres{
    width: 100%;
    height: 30%;
}

.um{
    background-color: #3F6B52;
}
.dois{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2E4F3D/*#598C70*/;
}
.tres{
    display: flex;
    flex-direction: column;
    background-color: #213a2d/*#A6CDB8*/;
}
.um .content h4{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
}

.icones{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.icone img{
    width:40px;
    height: auto;
}

.dois .content nav ul{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    padding: 0px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

